
.table-responsive {
  overflow: visible !important;

}

.table td,
.table th {
  position: relative;

}


.table-container {
  width: 100%;
  overflow-x: auto;
}


.table-container table td,
.table-container table th {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}