/* adminSessions.css or global */
.table-responsive {
  overflow: visible !important;
  /* allow buttons to be clickable */
}

.table td,
.table th {
  position: relative;
  /* so z-index works if needed */
}


.table-container {
  width: 100%;
  overflow-x: auto;
}

/* Prevent insane text from blowing up columns */
.table-container table td,
.table-container table th {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}